# not used because this code was copied to room_component.html.erb

<!--<div class="room">-->
<!--  <h1>Chat room</h1>-->

<!--  <div id="messages">-->
    <%#= render @messages %>
<!--  </div>-->

<!--  <form>-->
<!--    <label>Say something:</label><br>-->
<!--    <input type="text" data-behavior="room_speaker">-->
<!--  </form>-->
<!--</div>-->